

/* ==========================================================================
   Типографика
   ========================================================================== */

html {
    font: 15px/1.2 Georgia, serif;
    color: #333;
}

::-moz-selection {
    color: #fff;
    background: #349B66;
}

::selection {
    color: #fff;
    background: #349B66;
}




/* ==========================================================================
   Частоиспользуемые элементы
   ========================================================================== */

/**
 * Поля ввода
 */
:-ms-input-placeholder {
    color: #666;
    font-size: 12px;
    font-style: italic;
}
/* Firefox 18- */
:-moz-placeholder {
    color: #666;
    font-size: 12px;
    font-style: italic;
}
/* Firefox 19+ */
::-moz-placeholder {
    color: #666;
    font-size: 12px;
    font-style: italic;
}
::-webkit-input-placeholder {
    color: #666;
    font-size: 12px;
    font-style: italic;
}
.placeholdersjs {
    color: #666;
}

:focus:-ms-input-placeholder { opacity: 0; }
:focus::-moz-placeholder { opacity: 0; }
:focus::-moz-placeholder { opacity: 0; }
:focus::-webkit-input-placeholder { opacity: 0; }

.input {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    height: 34px;
    padding: 0 18px;
    border: 1px solid #ccc;
    background: #e6e6e6;
}
    .ltie9 .input {
        line-height: 32px;
    }


/**
 * Кнопки
 */
.btn {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    padding: 0 26px;
    border: 2px solid;
    font: bold 14px/36px Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 9999px;
    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
}
    .btn_fill {
        color: #fff;
        border-color: #349b66;
        background: #349b66;
    }
        .btn_fill:hover {
            color: #349b66;
            background: #fff;
        }
    .btn_line {
        padding: 0 17px;
        color: #d42222;
        background: #fff;
    }
        .btn_line:hover {
            color: #fff;
            border-color: #d42222;
            background: #d42222;
        }



/**
 * Фоновый узор #1
 */
.square-pattern {
    background-image: url("../img/design/square-pattern.png");
    background-repeat: repeat;
}



/**
 * Фоновый узор #2
 */
.skew-pattern {
    background-image: url("../img/design/skew-pattern.png");
    background-repeat: repeat;
}



/**
 * Нумерованный список
 */
.ordered-list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: count;
}
    .ordered-list__item {
        position: relative;
        margin-bottom: 11px;
        /*padding-left: 47px;*/
    }
        .ordered-list__item:before {
            content: counter(count) ".";
            counter-increment: count;
            position: relative;
            z-index: 1;
            margin: 0 12px 6px 3px;
            float: left;
            display: inline-block;
            padding: 0 9px 0 11px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            font-family: Arial, sans-serif;
            border-radius: 9999px;
            background: #349b66;
        }
        .ordered-list__item:after {
            content: "";
            position: absolute;
            left: 0;
            top: 14px;
            width: 17px;
            height: 17px;
            border: 2px solid #433941;
        }




/**
 * Ненумерованный список
 */
.unordered-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .unordered-list__item {
        position: relative;
        margin-bottom: 11px;
        padding-left: 27px;
    }
        .unordered-list__item:before {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            width: 19px;
            height: 14px;
            background: url("../img/design/check.png") no-repeat;
        }



/**
 * Лого
 */
.logo {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 159px;
    height: 28px;
    font: 0/0 a;
    background: url("../img/design/logo.png") no-repeat;
}
    .logo__link {
        display: block;
        height: 100%;
    }




/**
 * Контакты
 */
.contacts {
    display: inline-block;
    padding-left: 40px;
    line-height: 1.25;
}
    .contacts__title {
        position: relative;
        margin: 0;
        font-size: inherit;
        font-weight: normal;
    }
        .contacts__title:before {
            content: "";
            position: absolute;
            left: 3px;
            top: 100%;
            margin-top: 2px;
            width: 24px;
            height: 24px;
            background: url("../img/design/phone.png") no-repeat;
        }
    .contacts__link {
        display: block;
        color: inherit;
        text-decoration: none;
        -webkit-transition: .2s;
           -moz-transition: .2s;
             -o-transition: .2s;
                transition: .2s;
    }
        .contacts__link:hover {
            text-shadow: 1px 1px 1px #aaa;
        }
    .contacts__phone {
        font-size: 142.8571%;
        color: #349b66;
    }


/**
 * Форма для контакта
 */
.contact-form {}
    .contact-form__field {}
    .contact-form .input {
        width: 100%;
    }

    .contact-form__head {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        line-height: normal;
        font-family: Arial, sans-serif;
    }
    .contact-form__title {
        margin: 0 0 2px;
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #349b66;
    }
    .contact-form__info {
        margin: 0;
        padding: 0;
        font-size: 11px;
        color: #8f8f8f;
    }

    /* горизонтальная форма */
    .contact-form_line {
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    }
        .no-boxshadow .contact-form_line {
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            border: 1px solid #ccc;
        }
        .contact-form_line .contact-form__field {
            line-height: 80px;
        }

    .contact-form_outside {
        margin-top: -78px;
        margin-bottom: 37px;
    }

    /* вертикальная форма */
    .contact-form_col {
        position: relative;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 26px 48px;
        background: #433942;
        background: -moz-linear-gradient(top,  rgba(92,78,90,0.9) 0%, rgba(67,57,66,0.9) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,78,90,0.9)), color-stop(100%,rgba(67,57,66,0.9))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(92,78,90,0.9) 0%,rgba(67,57,66,0.9) 100%);
        background: -o-linear-gradient(top,  rgba(92,78,90,0.9) 0%,rgba(67,57,66,0.9) 100%);
        background: -ms-linear-gradient(top,  rgba(92,78,90,0.9) 0%,rgba(67,57,66,0.9) 100%);
        background: linear-gradient(to bottom,  rgba(92,78,90,0.9) 0%,rgba(67,57,66,0.9) 100%);
    }
        .contact-form_col:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -12px;
            bottom: -12px;
            left: 60px;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            border: 3px solid #cdb1b1;
            border: 3px solid rgba(51, 51, 51, .2);
        }
        .contact-form_col .contact-form__field {
            margin-bottom: 10px;
        }
            .contact-form_col .contact-form__field:last-child {
                margin-bottom: 0;
                padding-top: 10px;
            }
        .contact-form_col .input {
            border-color: #292328;
            color: #333;
        }
        .contact-form_col .contact-form__submit {
            width: 100%;
            padding-left: 24px;
            padding-right: 24px;
        }

        .contact-form_col .contact-form__title {
            font-size: 22px;
            white-space: nowrap;
        }

        .contact-form_col .contact-form__info {
            margin-bottom: 6px;
            font-size: 12px;
            color: #fff;
        }
    .contact-form__close {
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: 32px;
        width: 13px;
        height: 12px;
        font: 0/0 a;
        color: transparent;
        background: url("../img/design/close.png") no-repeat;
        transition: .2s;
    }
        .contact-form__close:hover {
            opacity: .75;
        }


/**
 * Список контактов
 */
.contact-list {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style-type: none;
}
    .contact-list__key {
        display: block;
    }
    .contact-list__value {
        margin: 0 0 12px;
        display: block;
    }
    .contact-list__link {
        color: inherit;
        text-decoration: none;
    }
        .contact-list__link:hover {
            text-decoration: underline;
        }
    .contact-list__hide {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        color: transparent;
        opacity: 0;
    }


/**
 * Структурные элементы
 */
html {
    min-width: 1000px;
}
.container {
    position: relative;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 940px;
    /*width: 940px;*/
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 1px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
    .col_w_1  { width: 8.333333333333332%; }
    .col_w_2  { width: 16.666666666666664%; }
    .col_w_3  { width: 25%; }
    .col_w_4  { width: 33.33333333333333%; }
    .col_w_5  { width: 41.66666666666667%; }
    .col_w_6  { width: 50%; }
    .col_w_7  { width: 58.333333333333336%; }
    .col_w_8  { width: 66.66666666666666%; }
    .col_w_9  { width: 75%; }
    .col_w_10 { width: 83.33333333333334%; }
    .col_w_11 { width: 91.66666666666666%; }
    .col_w_12 { width: 100%; }

    .col_left_1  { margin-left: 8.333333333333332%; }
    .col_left_2  { margin-left: 16.666666666666664%; }
    .col_left_3  { margin-left: 25%; }
    .col_left_4  { margin-left: 33.33333333333333%; }
    .col_left_5  { margin-left: 41.66666666666667%; }
    .col_left_6  { margin-left: 50%; }
    .col_left_7  { margin-left: 58.333333333333336%; }
    .col_left_8  { margin-left: 66.66666666666666%; }
    .col_left_9  { margin-left: 75%; }
    .col_left_10 { margin-left: 83.33333333333334%; }
    .col_left_11 { margin-left: 91.66666666666666%; }
    .col_left_12 { margin-left: 100%; }

    .col_right_1  { margin-right: 8.333333333333332%; }
    .col_right_2  { margin-right: 16.666666666666664%; }
    .col_right_3  { margin-right: 25%; }
    .col_right_4  { margin-right: 33.33333333333333%; }
    .col_right_5  { margin-right: 41.66666666666667%; }
    .col_right_6  { margin-right: 50%; }
    .col_right_7  { margin-right: 58.333333333333336%; }
    .col_right_8  { margin-right: 66.66666666666666%; }
    .col_right_9  { margin-right: 75%; }
    .col_right_10 { margin-right: 83.33333333333334%; }
    .col_right_11 { margin-right: 91.66666666666666%; }
    .col_right_12 { margin-right: 100%; }




/* ==========================================================================
   Элементы страницы
   ========================================================================== */

/**
 * Главная панель для сайта с логотипом и контактами
 */
.panel {
    min-height: 87px;
    font-size: 14px;
    background: #fff;
}
    .panel__inner {
        overflow: hidden;
    }
    /*.panel__item {
        width: 25%;
        line-height: normal;
    }*/
    .panel__title {
        margin-top: 27px;
        margin-right: 90px;
        float: left;
    }
    .panel__sub-title {
        margin-top: 22px;
        float: left;
        max-width: 25%;
        font-size: 16px;
        font-style: italic;
        font-weight: normal;
    }
    .panel__cta {
        margin-top: 24px;
        float: right;
    }
    .panel__contacts {
        margin-top: 10px;
        margin-left: 31px;
        float: right;
        text-align: right;
    }




/**
 * Основная навигация для сайта
 */
.nav {
    color: #fff;
    background: url("../img/design/nav-bg.png") no-repeat 50% 0 #080504;
}
    .nav__inner {
        display: table;
        border-collapse: collapse;
        width: 100%;
    }
    .nav__link {
        display: table-cell;
        vertical-align: middle;
        padding: 0 9px;
        height: 50px;
        color: inherit;
        text-decoration: none;
        -webkit-transition: .12s linear;
           -moz-transition: .12s linear;
             -o-transition: .12s linear;
                transition: .12s linear;
    }
    .nav__text {
        border-bottom: 1px solid;
        -webkit-transition: inherit;
           -moz-transition: inherit;
             -o-transition: inherit;
                transition: inherit;
    }
        .nav__link_active {
            text-decoration: none;
            color: #d42222;
            pointer-events: none;
        }
        .nav__link:hover {
            background-color: #333;
            background-color: rgba(255, 255, 255, .14);
        }
            .nav__link_active .nav__text,
            .nav__link:hover .nav__text {
                border-color: transparent;
            }


/**
 * Раздел
 */
.section {
    overflow: hidden;
    padding-top: 38px;
    padding-bottom: 36px;
}
    .section__title {
        margin: 0 0 41px;
        padding: 0;
        font: normal 36px Arial, sans-serif;
    }
        .section__title:after {
            content: "";
            margin-top: 2px;
            display: block;
            height: 5px;
            width: 141px;
            background: url("../img/design/title.png") no-repeat;
        }

    .section__info {
        margin: 0 0 20px;
        padding: 0;
        color: #349b66;
    }
        .section__info_center {
            text-align: center;
        }

    .section_dark {
        color: #fff;
        background-color: #433942;
        /* градиент рендерится не очень красиво, а картинка весит много,
        возможно лучше отказаться от использования блика */
        /*background-image: radial-gradient(circle, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);*/
        background-image: url("../img/design/highlight.png");
        background-repeat: no-repeat;
        background-position: 50%;
    }
        .section_dark .section__title:after {
            background-position: 0 100%;
        }

    .section_add-pad {
        padding-bottom: 76px;
    }

    .section_border-top {
        position: relative;
    }
        .section_border-top:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 100%;
            height: 5px;
            background: url("../img/design/line-pattern.png") repeat-x;
        }


/**
 * Hero-секция
 */
.hero {
    padding-top: 24px;
    padding-bottom: 18px;
    background: url("../img/design/hero-bg.jpg") no-repeat 50% 100% #060606;
  /*  -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/design/hero-bg.jpg', sizingMethod='scale')";*/
}
    .hero__title {
        position: relative;
        margin: 0 auto 40px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 10px 39px;
        max-width: 66.6666%;
        text-align: center;
        font: 30px/1.33 Arial, sans-serif;
        text-transform: uppercase;
        color: #333;
        background: #eae9e9;
        background: rgba(255, 255, 255, .9);
    }
        .hero__title:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: -30px;
            top: -10px;
            bottom: -10px;
            right: 80px;
            border: 4px solid #6f2a2a;
            border: 4px solid rgba(212, 34, 34, 0.4);
        }

    .hero .contact-form_col:before {
        border-color: #848484;
        border-color: rgba(255, 255, 255, .5);
    }


/**
 * Список функций на главной секции
 */
.hero-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    .hero-list__item {
        margin-bottom: 20px;
    }
    .hero-list__img {
        position: relative;
        margin-right: 32px;
        float: left;
        min-width: 108px;
    }
        .hero-list__img:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 25px;
            left: 48px;
            width: 64px;
            height: 74px;
            border: 3px solid #349b66;
            border: 3px solid rgba(52, 155, 102, 0.5);
        }
    .hero-list__text {
        display: block;
        padding-top: 12px;
        width: auto;
        overflow: hidden;
    }
    .hero-list__title {
        margin: 0 0 4px;
        padding: 0;
        font: 20px Arial, sans-serif;
    }
    .hero-list__desc {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #ccc;
    }


/**
 * Слайдер в секции "что такое грязезащитный ковер"
 */
.about-slider {
    margin-top: -15px;
    margin-bottom: 34px;
}
    .about-slider .slick-track {
        padding: 43px 0;
    }
    .about-slider .slick-slide {
        position: relative;
        z-index: 0;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -ms-filter: "alpha(opacity=50)";
    }
        .about-slider .slick-slide:focus {
            outline: 0;
        }
        .about-slider .slick-slide:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, .5);
        }
        .about-slider .slick-slide img {
            margin: auto;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 1px solid #fff;
        }
        .about-slider .slick-slide.slick-current {
            z-index: 1;
            -webkit-transform: scale(1.55);
                -ms-transform: scale(1.55);
                    transform: scale(1.55);
            box-shadow:
                0 0 3px rgba(0, 0, 0, 0.2),
                0 0 12px rgba(0, 0, 0, 0.1);
            /*box-shadow: 0 0 0 1px red;*/
            transition: transform .3s;
            -ms-filter: "alpha(opacity=100)";
            /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.55, M12=0, M21=0, M22=1.55, SizingMethod='auto expand')";*/
        }
            .about-slider .slick-slide.slick-current:after {
                content: none;
            }


/**
 * Часть списка в секции "что такое грязезащитный ковер"
 */
.about-add-list {
    counter-reset: count 3;
    margin-left: 12px;
}


/**
 * Блоки со статистикой
 */
.stat-block {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 14px 21px;
    height: 203px;
    border: 3px solid #3a323a;
    border: 3px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}
    .stat-block__title {
        margin: 0;
        padding: 0;
        max-width: 55%;
        text-align: left;
        font: inherit;
        color: #4fbd84;
    }

.stat-chart {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
}
    .stat-chart__img-wrap {
        position: relative;
        height: 76px;
        text-align: center;
    }
    .stat-chart__img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 14px;
        margin: auto;
        -webkit-transform: translateX(10px);
            -ms-transform: translateX(10px);
                transform: translateX(10px);
        display: inline-block;
        vertical-align: baseline;
    }
        .stat-chart__img_no-gap {
            -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                    transform: translateX(0);
        }
    .stat-chart__desc {
        margin: 0;
        padding: 0;
    }

.stat-info {
    margin-top: 24px;
    margin-bottom: 0;
    text-align: center;
}


/**
 * Галерея с вариантами размещения ковров
 */
.place-view-section {
    overflow: visible;
}
.place-view-gallery {
    overflow: hidden;
    margin-bottom: -38px;
    padding-top: 10px;
}
.place-view {
    margin: 0 0 38px;
    text-align: center;
    color: #433941;
}
    .place-view__img-wrap {
        position: relative;
        margin: 0 auto 36px;
        width: 130px;
        height: 130px;
        border: 7px solid #e6e6e6;
        border-radius: 50%;
    }
        .place-view__img-wrap:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 30px;
            bottom: -24px;
            left: -25px;
            right: 50%;
            margin: 0 -2px 0 0;
            border: 4px solid;
        }
        .place-view__img {
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            display: block;
            width: 100%;
            height: 100%;
            border: 1px solid;
            border-radius: 50%;
        }
        .place-view__desc {
            margin: 0;
            padding: 0;
            font: 16px Arial, sans-serif;
        }

    .place-view_right .place-view__img-wrap:before {
        left: 50%;
        right: -25px;
        margin: 0 0 0 -2px;
    }



/**
 * Список преимуществ
 */
.features {}
    .features__img {
        margin-right: 54px;
        padding-top: 6px;
        float: left;
    }
    .features__list {
        display: block;
        overflow: hidden;
        width: auto;
    }


/**
 * Процесс работы
 */
.process {
    text-align: center;
}
    .process__cnt {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 434px;
        height: 293px;
        font: 16px Arial, sans-serif;
    }
    .process__img {}

.process__list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
    .process__list-item {
        position: absolute;
        width: 240px;
    }
        .process__list-item_1 {
            top: 40px;
            right: 100%;
            margin-right: 10px;
            text-align: right;
        }
        .process__list-item_2 {
            top: 40px;
            left: 100%;
            margin-left: 10px;
            text-align: left;
        }
        .process__list-item_3 {
            bottom: 40px;
            left: 100%;
            margin-left: 10px;
            text-align: left;
        }
        .process__list-item_4 {
            bottom: 40px;
            right: 100%;
            margin-right: 10px;
            text-align: right;
        }


/**
 * Ссылка на видео
 */
.video-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 96px;
    height: 56px;
    border: 3px solid #5b525a;
    border: 3px solid rgba(0, 0, 0, .1);
    color: inherit;
}
    .video-link:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -32px;
        margin: auto;
        width: 70px;
        height: 71px;
        background: url("../img/design/play-btn.png") no-repeat;
    }
    .video-link__text {
        position: absolute;
        left: 50%;
        top: 100%;
        margin-top: 7px;
        margin-left: -90px;
        white-space: nowrap;
        font-size: 12px;
        text-decoration: underline;
    }

    .video-link:hover:before {
        background-position: 0 100%;
    }
        .video-link:hover .video-link__text {
            text-decoration: none;
        }


/**
 * Секция с клиентами
 */
.clients-section {}
    .clients-section .contact-form {
        margin-top: 6px;
        margin-bottom: 20px;
    }
    .clients-section .section__title {
        margin-bottom: 32px;
    }

.clients {
    margin: 0 -5px;
    font-size: 0;
}
    .clients__item {
        margin: 0 5px 10px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 16px 0;
        width: 140px;
        height: 70px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #8f8f8f;
        text-align: center;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    }
        .clients__item:hover {
            box-shadow: 0 2px 12px rgba(0, 0, 0, .35);
        }
        .clients__logo {
            max-width: 100%;
            max-height: 100%;
        }


/**
 * Секция с отзывами
 */
.testimonials {
    margin-bottom: 10px;
}
.testimonial {}
    .testimonial__img {
        position: relative;
        float: left;
        padding-top: 15px;
        width: 33.3333%;
    }
        .testimonial__photo {}
        .testimonial__img:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 50%;
            right: -20px;
            margin: 0 -3px 0 -2px;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            height: 125px;
            border: 4px solid #e8e7e8;
            border: 4px solid rgba(51, 51, 51, .12);
        }
    .testimonial__body {
        display: block;
        width: auto;
        overflow: hidden;
        padding: 0 10px 0 20px;
    }
    .testimonial__author {
        margin: 0 0 4px;
        padding: 0;
        font: normal 20px Arial, sans-serif;
        color: #349b66;
    }
    .testimonial__post {
        margin: 0 0 8px;
        padding: 0;
        font: normal 14px Arial, sans-serif;
        color: #666;
    }
    .testimonial__text {
        margin: 0;
        line-height: 1.25;
        font-size: 12px;
        font-style: italic;
    }

.testimonial-section {}
    .testimonial-section .section__title {
        margin-bottom: 32px;
    }
    .testimonial-section .slick-track {
        margin-left: -10px;
        margin-right: -10px;
    }
    .testimonial-section .slick-slide {
        padding-left: 10px;
        padding-right: 10px;
    }
    .testimonial-section .slick-arrow.slick-prev {
        margin-right: 11px;
    }
    .testimonial-section .slick-arrow.slick-next {
        margin-left: 11px;
    }


/**
 * Контакты
 */
.contacts-section {
    position: relative;
    border: 2px solid #b3b3b3;
    border-width: 2px 0;
    background: #f1f1f1 url("../img/design/map.jpg") no-repeat 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    box-shadow:
        inset 0 3px 8px -2px rgba(179, 179, 179, .7),
        inset 0 -3px 8px -2px rgba(179, 179, 179, .7);
}
    .contacts-section:before,
    .contacts-section:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        height: 10px;
    }
        .contacts-section:before {
            top: 0;
            box-shadow: 0 3px 8px -2px #b3b3b3 inset;
        }
        .contacts-section:after {
            bottom: 0;
            box-shadow: 0 -3px 8px -2px #b3b3b3 inset;
        }
    .contacts-section .contact-form {
        margin-top: 32px;
        margin-bottom: 60px;
        padding: 18px 28px;
        color: #fff;
    }
        .contacts-section .contact-form__head {
            display: block;
            font: inherit;
            text-align: left;
        }
    .contacts-section .container {
        position: static;
    }
    .contacts-section .section__title {
        position: relative;
    }
    .contacts-section .ymaps {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


/**
 * Модальное окно
 */
.modal-area {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiZmBgeAYQYAAA+gDqszXvbAAAAABJRU5ErkJggg==");
    transition: .5s;
}
    .modal-area__out {
        display: table;
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }
    .modal-area__in {
        display: table-cell;
        vertical-align: middle;
        padding: 30px;
    }

    .modal-area .contact-form {
        display: inline-block;
        vertical-align: middle;
        max-width: 300px;
        background: #fff;
    }
        .modal-area .contact-form:before {
            z-index: 0;
            left: 60px;
            border-color: #808080;
            border-color: #fff;
        }
        .modal-area .contact-form__field {
            position: relative;
        }
        .modal-area .contact-form__info {
            color: #333;
        }
        .modal-area .contact-form .input {
            border-color: #ccc;
        }


.modal-open {
    overflow: hidden;
}
    .modal-open .modal-area {
        opacity: 1;
        visibility: visible;
    }